* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed !important;
  z-index: 999;
  width: 100vw;
  height: 8vh !important;
}

.espaco {
  height: 8vh;
}

header img.logo {
  width: 50px;
}

header h5 {
  color: #f9f3e7;
}

header nav.navbar {
  background-color: #5c4131 !important;
}

.nav-link {
  color: #f9f3e7 !important;
}

.navbar-toggler {
  background-color: #f9f3e7 !important;
}

.navbar-nav {
  margin-right: 40px;
}

.banner-img {
  height: 200px;
}

.about-img {
  width: 250px;
}

.section-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.about-section,
.gallery-section,
.contact-section {
  padding-top: 80px;
  padding-bottom: 30px;
}

.about-section,
.contact-section {
  background-color: #f9f3e7;
}

.about-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-section div p {
  width: 80vw;
  text-align: justify;
}

.gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-section div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.gallery-img {
  width: 100px;
  height: 100px;
}

.social-icon {
  width: 50px;
}

.contact-section div div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.contact-section span {
  margin-right: 10px;
  margin-left: 5px;
}

.contact-section .social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

footer {
  background-color: #5c4131;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.superior {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid white;
}

footer span {
  color: white;
  transition: 0.4s;
}

p {
  margin-bottom: 0 !important;
}

a {
  text-decoration: none !important;
}

@media (min-width: 375px) {
  .about-section div p {
    width: 90vw;
  }

  .gallery-img {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 425px) {
  .gallery-img {
    width: 137px;
    height: 137px;
  }
}

@media (min-width: 768px) {
  .banner-img {
    height: 400px;
  }

  .banner-section h5 {
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  }

  .about-section div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .about-section div p {
    width: 300px;
  }

  .gallery-img {
    width: 240px;
    height: 240px;
  }

  .superior {
    width: 80vw;
  }
}

@media (min-width: 1024px) {
  .banner-img {
    height: 500px;
  }

  .about-section div p {
    width: 600px;
    font-size: 24px;
  }

  .gallery-img {
    width: 330px;
    height: 330px;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .banner-img {
    height: 650px;
  }

  .about-img {
    width: 450px;
  }

  .about-section div p {
    width: 500px;
    font-size: 28px;
  }

  .gallery-section div {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .gallery-img {
    width: 440px;
    height: 440px;
  }

  .contact-section div div {
    margin-bottom: 20px;
  }

  .contact-section span {
    font-size: 36px;
  }

  .contact-section p {
    font-size: 24px;
  }

  .social-icon {
    width: 60px;
  }

  .superior p {
    font-size: 20px;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
